<!DOCTYPE html>
<html itemscope itemtype="" lang="en">
 <head>
 
  <!--Required meta tags-->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, intital-scale=1, shrink-to-fit=no">
  <meta name="author" content="">
  <meta name="description" content="">
  
  <title>Bank_Transaction_Home_Page</title>
  
  <!--Bootstrap CSS-->
  <link rel="stylesheet" type="" href="">
  <link rel="stylesheet" type="" href="">
  
 </head>
 <body>
  
  <!--Header tag-->
   <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="#">iBank</a>
     <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="" aria-controls="" aria-exapnded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
     </button>
     
    <!--Inner Header tag-->
    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
     <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
       <a class="nav-link" href="#">Home<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
       <a class="nav-link" href="#">About</a>
      </li>
      <li class="nav-item">
       <a class="nav-link" href="#">Instant Loans</a>
      </li>
      <li class="nav-item disabled">
       <a class="nav-link" href="#">Forex Cards</a>
      </li>
      <li class="nav-item dropdown">
       <a class="nav-link dropdown-toggle" href="#" id="dropdown_1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Others</a>
        <div class="dropdown-menu" aria-labelledby="dropdown_1">
         <a class="dropdown-item" href="#">Mutual Funds</a>
         <a class="dropdown-item" href="#">Insurance Policy</a>
         <a class="dropdown-item" href="#">Home Laon</a>
       </div>
       </li>
     </ul>
        
     <!--Inner Right tag-->
     <form class = "from-inline my-2 my-lg-0">
      <li class="nav-item">
       <a class="nav-link" href="#">About-Us</a>
      </li>
     </form>
    </div>
  </nav> 
      
<main role="main">
  
  <!-- Main body content-->
  <div class="main">
   <div class="container">
    <h1 class="display-3">iBank Solutions...</h1>
    <p>This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
    <p><a class = "btn btn-primary btn-lg" href="#" role="button">Learn More..</a></p>
   </div>
  </div> 
  
  <!-- Mid-Main cody content -->
  <div class="container">
   <div class="row">
    <div class="col-md-4">
     <h2></h2>
     <p></p>
     <p><a class="btn btn-secondary" href="#" role="button"></a></p>
    </div>
    <div class="col-md-4">
     <h2></h2>
     <p></p>
     <p><a class="btn btn-secondry" href="#" role="button"></a></p>
    </div>
    <div class="col-md-4">
     <h2></h2>
     <p></p>
     <p><a class="btn btn-secondary" href="#" role="button"></a></p>
    </div>
   </div>
   <hr>
   
   </div>
  </main>
   <!-- Footer content-->
    
  <footer class="container">
    <p></p>
  </footer> 
    
   <!---Optional Javascript links--> 
   <script src=""></script>
   <script src=""></script>
   <script src=""></script>
 </body>
</html>
 
