<!DOCTYPE html>
<html>

<head>
  
  <!--Required metatags-->
  <meta charset="utf-8">
  <meta name="" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="author" content="">
  <meta name="description" content="">
  
  <title>Loan_transaction</title>
   
  <!--Bootstrap css-->
  <link rel="stylesheet" type="" href="">
  <link rel="stylesheet" type="" href="">
  
</head>  
<body>
  
  
  <div class="container">
    
  <div class="row">
    
    <!-- Left Pane -->
    <div class="col-4">
      
      <table class="table table-bordered">
        
        <thead>
          <tr class="loanTag" href="#">Home Loan</tr>
          <tr class="carLoanTag" href="#">Car Loan</tr>  
          <tr class="emiTag" href="#">EMI</tr>
          <tr class="instantLoanTag" href="#">Instant Loan</tr>
        </thead>
      </table>
      
    </div>
    
    <!-- Right Pane -->
    <div class="col-8">
    
      
    </div>  
    
  </div>
 
 </div>    
</body>  
</html>

