<!DOCTYPE html>

<html itemscope itemtype="" lang="en"> 
<head>

<!--Required metatags-->
<meta charset="utf-8">
<meta name="viewpoint" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="author" content="">
<meta name="descritpion" content="">

<title>Login_Page</title>
 
 <link rel="stylesheet" type="" href="">
 <link rel="stylesheet" type="" href="">
 
</head>
<body class="text-center">

<!-- Form Page Style -->
<form class="form-signin">
 <img class="mb-4" src="" alt="" width="72" height="72">
 <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
 <label for="inputEmail" class="sr-only">Email Address</label>
 <input type="email" id="inputEmail" class="form-control" placeholder="Email Address" required autofocus>
 <label for="inputPassword" class="sr-only">Password</label>
 <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
 <div class="checkbox mb-3">
  <label>
   <input type="checkbox" value="remember-me"> Remember Me 
  </label> 
 </div>
 <button class="btn btn-lng btn-primary btn-block" type="submit">Sign In</button>
 <p class="mt-5 mb-3 text-muted"></p>
</form>

</body>
</html>
